.demo-loadmore-list {
    min-height: 350px;
    overflow: auto;
    height: calc(100% - 64px );
    padding: 24px;
  }

.student-list-item {
  padding: 10px !important;
  cursor: pointer;
  }
  
  .student-list-item:hover{
  background-color: rgb(226, 224, 224)  ;
  color: white !important;
}