.spin-loader-container{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}